<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.godq.applogcat">

    <application>

        <meta-data
            android:name="force_boot_alc"
            android:value="${FORCE_BOOT_ALC}" />

        <provider
            android:name=".init.ALCInitProvider"
            android:authorities="${applicationId}.alcinitprovider"
            android:exported="false" />
    </application>

</manifest>